{{name}} has placed a uniform order:

Student name: {{studentName}}
Email: {{email}}
Package: {{package}}
Payment made: {{#paymentMade}}yes{{/paymentMade}}{{^paymentMade}}no{{/paymentMade}}
Payment method: {{paymentMethod}}
Additional information: {{additionalInfo}}

Order:
{{#orderItems.entrySet }}
 * item: {{key.name}}{{#value}}, size: {{value}}{{/value}}
{{/orderItems.entrySet}}
