<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.dancetrix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".util.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1afcdbced5cafaf41c2ad59315996759c75d98d1"
            />

        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.payment.PaymentActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.payment.PaymentFormActivity"
            android:parentActivityName=".activity.payment.PaymentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.payment.PaymentActivity" />
        </activity>
        <activity
            android:name=".activity.uniform.UniformActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.about.AboutUsActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.booking.ClassMenuActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.booking.ClassDetailsActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity android:name=".activity.booking.ClassBookingActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.registration.RegisterMenuActivity"
            android:parentActivityName=".activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
    </application>

</manifest>